.head{
    width: 100%;
    min-height: 700px;
    position: relative;
    background: white;
    border-radius: 5px;


  
}

.contentHead{
    /* border: 1px solid red; */
   
    width: 100%;
    min-height: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;

   
}

@media(min-width:55rem){
    .contentHead{
        width: 70%;
        margin:auto;
    }
}
.contentinner{
    /* border: 1px solid blue; */
    
    /* box-shadow: 0px 0px 5px 0px rgb(177, 175, 175); */
    border-radius: 5px;
     margin-top: 10px;
     width: 270px;
     position: relative;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contentinner img{
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(161, 162, 163);


}

.FallBack{
    position: absolute;
    top: 5px;
z-index: 200;
    width: 100%;
    min-height: 750px;
   
}
.btnHandlerHead{
    /* margin-top: 10px; */
    display: flex;
    justify-content: flex-end;

}

.btnHandler{
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    margin-right: 20px;
    padding: 10px 0px;
}
.innerBtn{
    outline: none !important;
    border: none;
    padding: 3px;
    width: 22px;
    border: 1px solid red;
    background: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  }



.prevNextbtn{
    outline: none !important;
    border: none;
    padding: 4px;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
  }
  


.Des{
    /* border-top: 1px solid orange; */
    min-height: 100px;
    position: absolute;
    bottom: 0;
    transition: width 1ms , height 1ms , transform 1ms;
    background: rgb(246, 213, 158);
    opacity: 0.8;
    width: 100%;
    cursor: pointer;
  
    border-radius: 15px 15px 0px 0px;
   
  }
  
  
  .Des button{
    border: 1px solid red;
    outline:none !important;
  
    cursor: pointer;
   width: 100px;
   padding: 5px;
  /* border:none; */
  border-radius: 5px;
  background: orange;
  color: white;
    box-sizing: border-box;
  }
  
  .innerDes{
    display: none;
  }
  
  .Des p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: italic;
   
    box-sizing: border-box;
    color: black;
    border-bottom: 1px solid orange;
    
  }
  .Des:hover{
    min-height: 130px;
  }
  .Des:hover .innerDes{
    display: block;
   
    cursor: pointer;
  }
  
  

  .cartIcon,.cartFavIcon{
    position: absolute;
    cursor: pointer;
    right:12px;
    top: 10px;
    border: none;
    outline: none;
    background: transparent;
}
.discount{
  position: absolute;
  border: 1px solid red;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: small;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 15px;
}
.slasherprice{
  text-decoration: line-through;
  color: red;
}