
  .Brand{
    
    width: 200px;
  
   font-size: small;
   padding: 3px;

}

.Brand p{
  font-size: medium;
 font-style: normal;
 color: rgb(255, 157, 0);
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
  /* border-bottom: 1px solid red; */

  

}
.Brand div a{
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.Brand div span {
   
    border-bottom: 1px solid red;
    border-radius: 2px;
    min-width: 100px;
    margin-top: 20px;
    cursor: pointer;
    padding-bottom: 2px;
    
   
}

.Linkhead{
  width: 180px;
}