.CheckoutHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: wheat;
    flex-wrap:wrap;

}
.Deshead{
    /* border:1px solid red; */
    min-width: 50%;
 
}
.formhead{
    /* border:1px solid red; */
    min-width: 50%;
 
}

@media(max-width:45rem){
    .Deshead{
        /* border:1px solid red; */
        width: 100%;
     
    }
    .formhead{
        /* border:1px solid red; */
        width: 100%;
     
    }
}

.formhead form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     align-items: center;
    /* border:1px solid orange; */
    min-height: 400px;

    
}

.formhead form input{
    width: 90%;
    border: transparent;
    outline: none !important;
    padding: 15px 5px;
    border-radius: 5px;
    border: 1px solid skyblue;

}

.formhead form textarea{
    border-radius: 5px;
    width: 90%;
    border: transparent;
    outline: none !important;
    padding: 10px 5px;
    border: 1px solid skyblue;

}
.formhead form button{
    border-radius: 5px;
    width: 200px;
    border: transparent;
    outline: none !important;
    padding: 10px 0px;
    /* border: 1px solid skyblue; */
    background: red;
    cursor: pointer;
}

.Description p{
 font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .slasherprice{
    text-decoration: line-through;
    color: red;
}

.imageInner{
    /* border: 1px solid red; */
    width: 280px;
    margin: auto;
    position: relative;
    
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.imageInnerHead{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imageInner img{
    border-radius: 5px;

}
.imageInner span{
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px;

    border-radius: 50%;
    background: red;
    color: wheat;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.incDec{
    min-width: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    
}

.incDec input{
    width: 20px;
    padding: 5px;
    text-align: center;
    border: none;
    outline: none !important;
}
.incDec button{
    background: red;
    border: none;
    outline: none !important;
    width:25px;
    border-radius: 5px;
}