.orderhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
   background: white;
}

.itemsHead{
    /* border: 1px solid red; */
    width: 50%;
    height: 700px;
}

.addressHead{
    /* border-left: 1px solid red; */
    width: 50%;
    height: 700px;
}





.Deshead{
    border:1px solid red;
    width: 50%;
 
}
.formhead{
    /* border:1px solid red; */
    width: 50%;
 
}

.formhead form{
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
align-items: center;
    border:1px solid orange;
    min-height: 400px;

    
}


.Description p{
 font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .slasherprice{
    text-decoration: line-through;
    color: red;
}

.imageInner{
    /* border: 1px solid red; */
    width: 280px;
    margin: auto;
    position: relative;
}

.imageInner img{
    border-radius: 5px;

}
.imageInner span{
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px;

    border-radius: 50%;
    background: red;
    color: wheat;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.inneraddress{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addressHead button{
    border-radius: 5px;
    width: 200px;
    border: transparent;
    outline: none !important;
    padding: 10px 0px;
    /* border: 1px solid skyblue; */
    background: red;
    cursor: pointer;
}

.deliverytext,.productText{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border-bottom: 1px solid skyblue;
    width: 50%;
   

}

.orderSuccess{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}