.Homehead{
min-width: 100%;
min-height: 700px;

   
}

.Image{
    border: 1px solid blue;
    width: 50%;
    height: 300px;
}
.imgSliderHead{
    min-height: 600px;
    position: relative;
     width: 100%;
   
    display: flex;
    justify-content: space-evenly;
    background: rgb(245, 246, 246);
    border-radius: 5px;
    border-top:1px solid skyblue;
    margin-top: 10px;

}

.ShopByBrand{
  min-width: 100px;
}

.ShopByCategory{
  min-width: 100px;

}

.imgSlider{
  /* border: 1px solid red; */
    width: 700px;
    height: 450px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-delay: 500ms;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0.5px 0.5px 5px 0.5px white;


}
@media(max-width:65rem){
  .imgSlider{
    /* border: 1px solid red; */
      width: 500px;
      height: 450px;
  }
}

@media(max-width:55rem){
  .imgSlider{
    display: none;
  }
}





.imgSlider img{
    border-radius: 5px;
    width: 700px;
    height: 450px;
    background-size: cover;
}


@media(max-width:45rem){
    .imgSlider img{
        border-radius: 5px;
        width: 100px;
        height: 150px;
    }
    .imgSlider{
        width: 100px;
        height: 150px;
    }

    .imgSliderHead{
        height: 300px;
    }
}

@keyframes example {
    0%  {top:0px;}
  
    100% {top:100px;}
  }



.imgheadSlider2{
    width:100%;
    background: red;
}

  .imgSlider2{
      box-sizing: border-box;
    width: 90%;
    height: 520px;
    border-radius: 5px;
    margin: 20px;
    /* box-shadow: 0.5px 0.5px 5px 0.5px white; */
    padding: 5px;
    margin:auto;

    
}


.imgSlider2 img{
  
    border-radius: 5px;
    width: 100%;
    height: 480px;
}

  .slick-next{
      background: red;
      border: 1px solid red;
  }






  .textBrand{
      border: 1px solid red;
      background: red;
  }


  .btn{
      /* border:  1px solid red; */
      display: flex;
      justify-content: center;
      height: 30px;
      
  }
 
  .btn button{
   margin:0px 10px;
   border: transparent;
   background: red;
   color: white;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    cursor: pointer;
  }

  .btn button:hover{
    padding: 7px;
    width: 30px;
  }

  .categoryData{
    /* border: 5px solid yellow; */
    position: relative;
  }






/* .slider .slick-prev,
.slider .slick-next{
  position: absolute;
  z-index: 1;
  top: 500px;
}


.slider .slick-prev{
  left: 5%;
}

.slider .slick-next{
  right:  5%;
} */





