.card{
    /* border:1px solid red; */
    width: 250px;
    height: 280px;
    box-shadow: 0px 0px 5px 0px rgb(187, 187, 187);
    border-radius: 5px;

}
.card img{
    border-radius: 5px;
}

@media(max-width:45rem){
    .card{
        width: 120px;
        height: 100px;
    }
    .card img{
        width: 100px;
        height: 100px;    }
    

}