.searchHead{

height: 40px;
position: relative;
}
.searchIcon{
    position: absolute;
    right: 10px;
    top: 10px;
cursor: pointer;
border: none;
outline: none !important;
background: transparent;
z-index: 200;
}

.searchHead input{
    border: 1px solid skyblue;
    box-sizing: border-box;
    width: 340px;
    height: 40px;
    outline: none !important;
    border-radius: 35px ;
    font-size: large;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width:45rem){
    .searchHead input{
       
         width: 180px;
         height: 40px;
     
     }
}