.FallbackHead{
    width: 100%;
    position: fixed;

    z-index: 100;
    width: 100%;
    min-height: 720px;
    border-radius: 5px;
    opacity: 0.6;
    background: rgb(14, 13, 13);

}
.FallbackHeadplainFull{
    width: 100%;
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 800px;
    border-radius: 5px;
    opacity: 0.6;
    background: rgb(14, 13, 13); 
}

.Fallback{
    z-index: 200;
    min-height: 720px;
     display: flex;
     justify-content: center;
     align-items: center;
     
}



.FallbackHeadFull{
  
  
    width: 100%;
    min-height: 720px;
    border-radius: 5px;

    opacity: 0.6;
    background: rgb(14, 13, 13);
    z-index: 200;
}

.FallbackFull{
   z-index: 500;
   min-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 

}


