


.imgheadSlider2{
    width:100%;
    background: rgb(23, 204, 195);
   
    position: relative;
    

}

  .imgSlider2{
      box-sizing: border-box;
    width: 90%;
    height: 520px;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    margin:auto;
    z-index: -200;
    /* position: absolute; */

    
}


.imgSlider2 img{
  
    border-radius: 5px;
    width: 100%;
    height: 480px;
}

  .slick-next{
      background: red;
      border: 1px solid red;
  }


  .Brand,.Category{
    
      width: 200px;
    
     font-size: small;
     padding: 3px;

  }

.Brand p, .Category p{
    font-size: medium;
   font-style: normal;
   color: rgb(255, 157, 0);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
    /* border-bottom: 1px solid red; */
  
    

}
  .Brand div , .Category div{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }



  .Brand div span ,.Category div span{
     
      border-bottom: 1px solid red;
      /* box-shadow: 0px 0px 2px 0px red; */
        border-radius: 2px;
      width: 100px;
      margin-top: 10px;
      cursor: pointer;
      
     
  }


  .textBrand{
      border: 1px solid red;
      background: red;
  }
 
/* .slider .slick-prev,
.slider .slick-next{
  position: absolute;
  z-index: 1;
  top: 500px;
}


.slider .slick-prev{
  left: 5%;
}

.slider .slick-next{
  right:  5%;
} */





