.Authhead{

    width: 100%;
            min-height:'1000px';
  
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   /* border: 1px solid green; */
   margin-top: 20px;
   /* background: green; */


}


.form{
    width: 100%;
    min-height: 600px;
    border-radius: 5px;
   outline: none !important;  
    /* background: rgb(8, 193, 240); */
    /* background: rgb(20, 179, 241); */
   box-shadow: 0px 0px 1px 0px white;
   background: white;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.innerform{
    /* box-shadow: 0px 0px 1px 0px red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    min-height: 400px;
}


.innerform input{
    padding: 15px;
    width: 600px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px white;
    border: 1px solid skyblue;
    outline: none !important;
    box-sizing: border-box;
}

@media(max-width:45rem) {
    .form{
        width: 100%;
    }
    .innerform input{
        width:80%
    }
}


.innerform button{
    outline: none !important;

    padding: 5px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid red;
    background: white;
    cursor: pointer;
}

.errorModel{
    width: 100%;
}
.errorModel{
    display: flex;
    justify-content: center;
}
.errorModel p{
    border-radius: 5px;
    padding: 3px;
    width: 50%;
    color:  white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    box-shadow: 0px 0px 10px 0px white;

  
}

.switchBtn p{
    border-radius: 5px;
    padding: 3px;
    width:100%;
    color:  red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    box-shadow: 0px 0px 5px 0px red;
    cursor: pointer;
}